/* .company{
    position: absolute;
    top:80vh;
    left: 10vh;
}
 .resultAmount{
    position: relative;
    height: 4rem;
    background-color: rgb(240, 245, 242);
    border: 2px solid rgb(240, 245, 242);
    transform: translate(65%,10%);
    display: block;
    left:50%;
    right:50%;
 } */